*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main{
    height: 100dvh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.canvas{
    position: relative;
    width: 100%;
}
.canvas canvas{
    width: 100%;
    height: 100%;
}
.score_bar{
    border: solid;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
}
#mainCanvas{
  
    border: solid white;
    position: absolute;
    
}
#checkBoxPatternCanvas{
    /* background-color: hsl(120, 55%, 48%); */
    position: absolute;
    color:hsl(351, 11%, 64%);
   /*
        hsl(120, 55%, 48%) hsl(120, 83%, 68%)
        
        hsl(57, 55%, 48%)   hsl(57, 83%, 68%)
        hsl(353, 10%, 16%) hsl(351, 11%, 64%)
        
   */
}
.menu_container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(203, 176, 176, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* display: none; */
}
.hide{
    display: none;
}
.sound{
    height: fit-content;
    width:3%;
    cursor: pointer;
}

.menu{
    width: min(350px , 90vw);
    height: 500px;
    background-color: white;
    border: solid black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
div.logo{
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to top right,rgb(233 234 236), rgb(246 246 246));
    background-color: rgb(246 246 246);
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.main_menu{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}
.setting_menu{
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 500ms linear;
}
.setting_menu.show{
    left: 0%;
}
.btns{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}
.btns .action_btn{
    height: 30%;
}
.action_btn{
    width: 90%;
    height: 10%;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    background-color: hsl(120, 83%, 68%);
    color: black;
    border: 2px solid    ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-weight: 600;
    box-shadow: 4px 4px 10px hsl(120, 7%, 84%);
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: background-color 500ms ease;
}
.action_btn:hover{
    background-color: hwb(120 26% 7%);
}
.action_btn:hover img{
    fill: white;
}
.action_btn img{
    height: auto;
    width: 10%;
}
.setting_container{
    width: 100%;
}
.setting_container .setting_title{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
.setting_container .custom_radio_container{
    width: 100%;
    border: dashed;
    height: 60px;
    display: flex;
    overflow: hidden;   
    
    /* border-radius: 10px; */
}
.custom_radio{
    height: 100%;
    flex: 1 1 0;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    cursor: pointer;
}
.custom_radio:not(:last-child){
    border-right: dashed;
}
.custom_radio input{
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.custom_radio input:checked{
    border: 2px solid white;
}
.speed_selector .custom_radio:nth-child(1){
    background-image: url('assets/images/Turtle.png');  
}

.speed_selector .custom_radio:nth-child(2){
    background-image: url('assets/images/Rattlesnake.png');  
}

.speed_selector .custom_radio:nth-child(3){
    background-image: url('assets/images/Rabbit.png');  
}
.custom_radio:has(input[type="radio"]:checked){
    background-color:  rgb(216, 200, 200);
}
input[type="radio"]:focus-visible{
    border: solid red;
}
.color_demo{
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:2px solid ;
    outline: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to left, var(--secondary-color) 50%, var(--primary-color) 50%);
}
.food_count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.setting_btn {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    height: 60px;
    width: 100%;
}
.setting_btn button{
    width: 45%;
    height: 60%;
    font-size: 16px;
    text-align: center;
    display: inline;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.game_over_menu{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:-100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: left 500ms linear;
}
.game_over_menu.show{
    left:0%;
}
.game_over_menu h1{
    font-size: 3rem;
}
.game_over_menu--score_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    font-size: 1.5rem;
    justify-items: right;
    row-gap: 1em;
    color: rgb(67, 70, 73);
}

@media only screen and (max-width : 400px){
    :root{
        font-size: 14px;
    }
}
